/* SPACING */
$spacing: 4;
$space-prefixes: (
    p: padding,
    pt: padding-top,
    pr: padding-right,
    pb: padding-bottom,
    pl: padding-left,
    px: (
        padding-left,
        padding-right,
    ),
    py: (
        padding-top,
        padding-bottom,
    ),
    m: margin,
    mt: margin-top,
    mr: margin-right,
    mb: margin-bottom,
    ml: margin-left,
    mx: (
        margin-left,
        margin-right,
    ),
    my: (
        margin-top,
        margin-bottom,
    ),
) !default;

@mixin make-space($prefixes) {
    @each $attr-short, $attr-long in $prefixes {
        @for $i from 0 to 15 {
            .#{$attr-short}-#{$i} {
                @if (type-of($attr-long) == string) {
                    #{$attr-long}: #{$spacing * $i}#{'px !important'};
                } @else {
                    @each $attr in $attr-long {
                        #{$attr}: #{$spacing * $i}#{'px !important'};
                    }
                }
            }
        }
    }
}

@include make-space($space-prefixes);